<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body bgcolor="#99FFFF">
	<h1 align="center"> Users details </h1>
	<table border="1" align="center">
		<tr><th>Username</th><th>Password</th></tr>
		{% for row in data %}
			<tr><th>{{row.username}}</th><th>{{row.passwoord}}</th></tr>
		{% endfor %}
	</table>
</body>
</html>
